github "CocoaLumberjack/CocoaLumberjack"
github "SyncDB/Sync"
github "SwiftyJSON/SwiftyJSON"
github "ReactiveX/RxSwift"
github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage" ~> 3.1
github "SVProgressHUD/SVProgressHUD"
